/*.textColor{*/
/*    color:red;*/

/*}*/

/*#top{*/
/*    width: 100px;*/
/*}*/

/*.list{*/
/*    margin: 0;*/
/*}*/


/*.list-item{*/
/*    padding: 0;*/
/*}*/

/*.text{*/
/*    color: red;*/
/*}*/

/*body{*/
/*    background: black;*/
/*}*/

/*.white{*/
/*    color: #ffffff*/
/*}*/

/*.black{*/
/*    color: #000000;*/
/*}*/
/*body{*/
/*    background-image: url("../image/content_dog.jpg");*/
/*    background-size: contain;*/


/*}*/
/*.repeat{*/
/*    background-repeat: repeat-y;*/
/*}*/

/*.position{*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*}*/
#headline{
    color: orange;
}